@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300;400&family=Righteous&display=swap');

body{
    font-family:'Open Sans', sans-serif;
    background-color: white;
    margin: 0 auto; 
}

p.cent{
    text-align: center;
}

div{
    width: 45%;
    background-color: #80BD8F;
    padding:20px;
    border-radius: 12px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    height: 346px;
    color:white;
}

img#portal{
    border-radius: 12px;
    float:right;
    margin-right: 50px;
}

*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    font-family:'Open Sans', sans-serif;
}

span{
    color:white;
    font-weight: bold;
    padding: 10px;
}

#menu-h ul{
    list-style: none;
    padding: 0 ;
    background-color:#80BD8F;
    font-size: 17px;
    width: 100%;
    position: fixed;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    padding:20px;
    transition: background .5s;
}

#menu-h ul li a:hover{
    background-color:#8ec49c;
}

p::selection{
    background-color: rgba(166, 226, 166, 0.616);
}

img::selection{
    background-color: rgba(166, 226, 166, 0.616);
}

b::selection{
    background-color: rgba(166, 226, 166, 0.616);
}


